<% include ./partials/header %>


    <h1>edit <%=foundpost.title%> post</h1>

    <form action="/post/<%=foundpost._id%>?_method=PUT" method="POST">
        <input type="text" name="content[title]" value="<%=foundpost.title%>">
        <textarea name="content[body]" cols="30" rows="10"><%=foundpost.body%></textarea>
        <input type="submit">
    </form>

    <% include ./partials/footer %>